body {
    background-color: black;   
    color: white
}
h1 {
    font-size: 70px;
    text-align: center;
}
.home-images {
    text-align: center;
}
.home-link {
    font-size: 30px;
}
.center-text{
    text-align: center;
}
.list-top-large{
    font-size: 50px;
}
.list-top-small{
    font-size: 30px;
}